:root {
  --darkest-color: #231c35;
  --dark-color: #242039;
  --dark-light-color: #2a2b47;
  --light-color: #484564;
  --lighter-color: #5b5271;
  --lightest-color: #6e5774;
}

.rightnav {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  padding: 20px;
  margin: 20px;
  width: 280px;
  max-width: fit-content;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  cursor: default;
  color: aliceblue;
  position: fixed;
  top: 10%;
  right: 0;
}

.navigator {
  display: flex;
  flex-direction: column;
}

.navigator a {
  text-decoration: none;
  color: aliceblue;
  margin: 10px;
  transition: all 0.3s ease-in-out;
  font-size: 15px;
}

.navigator a:hover {
  color: var(--darkest-color);
}

.navigator a.active {
  color: var(--darkest-color);
}

.content p {
  font-size: 16px !important;
}

.content h3 {
  color: var(--lightest-color);
}

.content ul {
  list-style-type: none;
  padding: 0;
}

.content ul li {
  margin: 10px 0;
  color: white;
}

.subtopics {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.content {
  margin-right: 300px !important;
}

.id_topic {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.code {
  background-color: #2a2b47;
  padding: 10px;
  border-radius: 10px;
  color: white;
  font-size: 15px;
  font-family: "Courier New", Courier, monospace;
}
